:root {
    --max-width-desktop: 60vh;
    --max-width-mobile: 85vw;
}

* {
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: greenyellow;
}
#player{
    margin: 0 0 20px 0;
    font-size: 40px;
    text-align: center;
}

main > * {
    width: var(--max-width-desktop);
}

h1 {
    margin: 0 0 20px 0;
    font-size: 40px;
    text-align: center;
}

#scoreContain {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    margin: 0 0 20px 0;
}

#p1Contain, #p2Contain {
    display: flex;
    gap: 5px;
}

#game {
    border: 2px solid #000000;
    border-radius: 5px;
    height: var(--max-width-desktop);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.item {
    border: 2px solid #99a103;
    background-color: #0d7000;
    border-radius: 5px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(((var(--max-width-desktop) - 40px) / 3) - 1px);
    height: calc(((var(--max-width-desktop) - 40px) / 3) - 1px);
    cursor: pointer;
    color: red;
}

#buttonsContain {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 30px;
    width: 49%;
    background-color: rgb(41, 8, 158);
    border: 2px solid rgb(41, 8, 158);
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    padding: 5px;
    color: greenyellow
}

button:hover {
    background-color: #000000;
    color: beige;
    transform: scale(102%);
}

@media (max-width: 670px) {
    h1 {
        font-size: 10vw;
    }
    #scoreContain, button {
        font-size: 7vw;
    }
    main > * {
        width: 100vw;
        max-width: var(--max-width-mobile);
    }
    #game {
        height: var(--max-width-mobile);
        max-height: 100vw;
    }
    .item {
        font-size: 20vw;
        width: calc(((var(--max-width-mobile) - 40px) / 3) - 1px);
        height: calc(((var(--max-width-mobile) - 40px) / 3) - 1px);
    }
}