body{
    margin: 0;
}

main{
    min-height: 100vh;
    background-color: rgb(39, 39, 39);
}

#formContain{
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 29vw;
    gap: 10px;
    padding: 30px 0;
}

#form>*{
    width: 100%;
    font-family: 30px;
    box-sizing: border-box;
}

#colorsContain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.color{
    background-color: aliceblue;
}

.info{
    background-color: aliceblue;
}

.info>*{
    text-align: center;
}

button{
    color: rgb(195, 0, 255);
}

#name {
    margin-bottom: 0;
}

#color{
    margin-top: 0;
}