body{
    margin: 0;
}

#slider{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slidescontain{
    border: 2px solid black;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
}

#slidesline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    transition: 0.3s;
}

#slidesline > * {
    width: 80vw;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

#slidesline:hover{
    filter: blur(3s);
}

#buttonscontain {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

#buttonscontain > * {
    font-size: 30px;
    padding: 10px 20px;
    width: 300px;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 20px;
    transition: 0.3s;
    position: relative;
}

#buttonscontain > *:hover {
    background-color: black;
    color: white;
    transform: scale(106%);
    z-index: 10;
}

#countcontain {
    font-size: 30px;
    border: 2px solid rgb(97, 193, 156);
    margin-top: 4px;
}